.ficcion{
    background-color: violet;
}

.texto-genero{
    color: #3b7eb4;
}

.humanidades{
    background-color: rgb(190, 63, 63);
}

.historia{
    background-color: orange;
}

.arte{
    background-color: cyan;
}