* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.logo {
    max-width: 70px;
    max-height: 70px;
}

/*
header {
    position: sticky;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-around;
    background-color: rgb(48, 48, 163);
    z-index: 3;


}


header.scroll {
    background: #2f829b;
}
*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    ;
    
   
}



.cajon-header {
    display: flex;
}







