* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}

.logo {
    max-width: 70px;
    max-height: 70px;
}

/*
header {
    position: sticky;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-around;
    background-color: rgb(48, 48, 163);
    z-index: 3;


}


header.scroll {
    background: #2f829b;
}
*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    ;
    
   
}



.cajon-header {
    display: flex;
    
}

.contenedor-logo{
    display: flex;
}

.titulo-header{
    margin-left: 10px;
    margin-right: 10px;
    align-self: center;
    font-family: "Lumanosimo", cursive;
    font-weight: 400;
     font-style: normal;
}


.color1 {color: #120907;}
.color2 {color: #131c32;}
.color3 {color: #2d5a81;}
.color4 {color: #509fdc;}
.color5 {color: #68d9e1;}

.color3-b {background-color: #2d5a81;}
.comor4-b {background-color: #509fdc;}



